html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Silkscreen', Verdana, sans-serif;
}

a {
    color: white;
    font-smooth: never;
}

.topbar {
    background-color: grey;
    text-transform: uppercase;
    height: 1.5em;
}

.topbar-item {
    padding: 0.25em 0.7em 0;
    display: inline-block;
    height: 100%;
}

.topbar-item:hover {
    background-color: #aaaaaa;
}

.topbar a {
    text-decoration: none;
    font-size: medium;
}

@font-face {
    font-family: Silkscreen;
    src: url('font/slkscr.ttf') format('truetype');
}