name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
concurrency: only-one-at-a-time-dummy-string
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt-get install haxe -y
          mkdir ~/haxelib && haxelib setup ~/haxelib
          yes | haxelib install game.hxml
          bash run buildres
          haxe game.hxml
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WORD_SABOTEUR }}'
          channelId: live
          projectId: word-saboteur
